extends layout

block content
  .main.container-fluid.bg-info.text-sm-center.py-2
    .row
      .col-md-8.mx-auto
        h1.display-2.mb-2 About Us
        p.lead.text-white My ToDo List is a popular app that helps you stay organized and on task. Create ToDo lists for work, home or play.

        a.btn.btn-outline-dark.btn-lg.my-1(href='/register') Get Started for FREE
