extends layout

block content
    .main.container-fluid.bg-info.text-sm-center.py-2
      .row
        .col-md-8.mx-auto
          h1.display-2.m-b-2 Create ToDo Lists
          p.lead.text-white Organize your life and stay on task with interactive ToDo lists!

          a.btn.btn-outline-dark.btn-lg.my-1(href='/register') Get Started for FREE
