extends layout

block content
  .main.container-fluid.bg-info.text-sm-center.py-2
    .row
      .col-md-8.mx-auto
        h1.mb-2 This is your ToDo List
        h2.mb-2 #{todolistname}

        //todo list
        form(method="POST" action='/additem')
          div.form-group.mt-4
            label.sr-only(for='todoiteminput') List Name:
            input#todoiteminput.form-control(type='text', placeholder="What would you like to do today? Add an item to your list.", name='todoiteminput')
            button.btn.btn-oultine-dark.my-2(type='submit') Save item

        div
          ul.list-group
            li.list-group-item #{todoitem}
            li.list-group-item Learn PHP
            li.list-group-item Learn MySQL
            li.list-group-item Create Amazing Web Apps
          button.btn.btn-danger.my-2 Delete list
