extends layout

block content
  .main.container-fluid.bg-info.text-sm-center.py-2
    .row
      .col-md-8.mx-auto
        h1.mb-2 My ToDo List

        //todo list
        form(method="POST" action='/todo')
          div.form-group.mt-4
            label.sr-only(for='todolistname') List Name:
            input#todolistname.form-control(type='text', placeholder="Name your ToDo List", name='todolistname')
            button.btn.btn-oultine-dark.my-2(type='submit') Save
