extends layout

block content
  .main.container-fluid.bg-info.text-sm-center.py-2
    .row
      .col-md-8.mx-auto
        h1.mb-2 My ToDo List

        if !todolistname
          form(method="POST" action='/todo')
            div.form-group.mt-4
              label.sr-only(for='todolistname') List Name:
              input#todolistname.form-control(type='text', placeholder="Name your ToDo List", name='todolistname')
              button.btn.btn-oultine-dark.my-2(type='submit') Save
        else
          h2.mb-2= todolistname
          button.btn.btn-danger Delete ToDo List
          //todo list
          form(method="POST" action='/additem')
            div.form-group.mt-4
              label.sr-only(for='todoiteminput') List Name:
              input#todoiteminput.form-control(type='text', placeholder="What would you like to do today? Add an item to your list.", name='todoiteminput')
              button.btn.btn-oultine-dark.my-2(type='submit') Add Item

          div
            if todos
              -`let todos = #{todos}`
                ul#todoList.list-group
                  each todo in todos
                    li.todoItem.list-group-item.text-sm-left.pl-3
                      if todo.completed === true
                        img.toggleIcon(src='/images/check-mark.svg' alt='check icon')
                      else
                        img.toggleIcon(src='/images/circle.svg' alt='circle icon')
                      p.ml-4= todo.todoitem
                      img.editIcon(src='/images/edit.svg' alt='edit icon')
                      img.deleteButton(src='/images/delete-circle.svg' alt='delete icon')

            else
              li.list-group-item Your todo item goes here.
